.artistic {

    .wrapper {
        padding: 1.2rem 2rem 0 2rem;
    }

    .info-wrapper {
        color: black;
        background-color: #e8e8e8;
        padding: 1.2rem 2.2rem 0 2.2rem;
    }

    .info-detail {
        width: 100%;
        align-items: center;
    }

    .info-detail-item {
        width: 100%;
        height: fit-content;
        border: 3px solid #0B0B0B;
        white-space: nowrap;
        position: relative;
        padding: 2rem 1rem;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 22px;
            white-space: nowrap;
            position: absolute;
            top: -1.2rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: #E8E8E8;
            padding: 0 .8rem;

            i {
                margin-right: 0.5rem;
            }
        }

        &.contact,
        &.else {
            p {
                color: black;
                font-weight: bolder;
                line-height: 1.5rem;
                margin-bottom: .8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a,
                span {
                    color: #666;
                    font-weight: normal;
                    font-size: 14px;
                    white-space: nowrap;
                }
            }
        }
    }

    .info-image {
        color: #333;
        font-size: 14px;
        margin-bottom: 2rem;
        position: relative;

        &[class]>span {
            color: black;
            font-size: 34px;
            font-weight: bolder;
            margin-bottom: .3rem;
        }
    }

    .pluggable {
        .title {
            padding-right: 4rem;
            padding-bottom: .5rem;
            border-bottom: 2px solid #656464;
        }

        .list-wrapper {
            border: 2px solid #ebebeb;
            border-radius: 2px;
            margin-top: 1rem;
            padding: 0 1rem;
        }
    }
}
