@import '../style/colors.scss';

.normal {

    h3 {
        font-size: 1.2rem;
    }

    @each $color,
    $hash in $colors {

        &.#{$color} .info-wrapper,
        &.#{$color} .title {
            background-color: $hash;
        }
    }

    .wrapper {
        padding: 1.2rem 1.5rem 0 1.5rem;
        color: #010101;

        .title {
            color: white;
            border-radius: 2px;
            padding-left: .5rem;
            line-height: 2.4rem;

            i {
                margin-right: 1rem;
            }
        }

        .list-item {
            margin-bottom: .5rem;
        }
    }

}
