@import '../style/colors.scss';
$colors: (cyan: $cyan, green: $green, purple: $purple, orange: $orange);

.btn {
    border-radius: 4px;
    margin: 0;
    padding: 12px 20px;
    box-sizing: border-box;
    transition: .1s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn.normal {
    color: #606266;
    background: #fff;
    border: 1px solid #dcdfe6;

    &:hover {
        color: #409eff;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
    }

    &:active {
        color: #3a8ee6;
        border-color: #3a8ee6;
    }
}

.generator-wrapper {

    @each $color,
    $hash in $colors {

        .#{$color} .info-wrapper,
        .#{$color} .title,
        .color-button.#{$color} {
            background-color: $hash;
        }
    }
}

.wrapper {
    padding: 2rem 2rem 0 2rem;
    color: #010101;

    .title {
        color: white;
        padding-left: 1rem;
    }

    .list-item {
        margin-bottom: .5rem;
    }
}
