@import '../style/colors.scss';

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #8080803f;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #bebebe;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

h1,
h2 {
    margin: 0;
}

h3,
h4,
h5,
h6 {
    margin: .4rem 0 0 0;
}

p {
    color: #666;
    font-size: 1rem;
    margin: 0;
    line-height: 1.5rem;

    i {
        font-size: 14px !important;
        margin-right: .4rem;
        line-height: 1.5rem !important;
    }
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}

input[type="text"],
input[type="textarea"],
input[type="password"] {
    border: none;
    outline: none;
}

input[type="text"].console-input,
input[type="textarea"].console-input,
input[type="password"].console-input {
    font-size: 16px;
    font-family: Helvetica;
    padding: .1rem 0;
    line-height: 2.1rem;
    letter-spacing: 1px;
    color: #606266;
    border-bottom: 1px solid #dcdfe6;

    &:hover,
    &:active,
    &:focus {
        border-bottom: 1px solid #409eff;
    }

    &::placeholder {
        color: #C4C4CF;
    }
}

.btn {
    border-radius: 4px;
    margin: 0;
    padding: 12px 20px;
    box-sizing: border-box;
    transition: .1s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn.normal {
    color: #606266;
    background: #fff;
    border: 1px solid #dcdfe6;

    &:hover {
        color: #409eff;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
    }

    &:active {
        color: #3a8ee6;
        border-color: #3a8ee6;
    }
}

h3 {
    font-size: 1.2rem;
}

.generator-wrapper {

    @each $color,
    $hash in $colors {

        .color-button.#{$color} {
            background-color: $hash;
        }
    }
}
