::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #8080803f;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #bebebe;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .6rem 0;
}

p {
    color: #666;
    font-size: 1rem;
    margin: 0;
    line-height: 1.5rem;

    i {
        margin-right: .4rem;
    }
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}
